[submodule "Libs/LibRealmInfo"]
	path = Libs/LibRealmInfo
	url = https://github.com/phanx-wow/LibRealmInfo
[submodule "Libs/LibDataBroker-1.1"]
	path = Libs/LibDataBroker-1.1
	url = https://github.com/tekkub/libdatabroker-1-1
[submodule "Tests/WoWUnit"]
	path = Tests/WoWUnit
	url = https://github.com/Jaliborc/WoWUnit
